################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/scripts/.sentry-native
/scripts/pcsx.lua
